body 
{
    margin:0;
        
}

.header{
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 30px;

}

.logo{
    display: flex;
    color: #F9FAF8;
    font-size: 24px;
    padding-left: 150px;
}



a {
    /*removes the line under links*/
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.link {
    /*removes the dots from the dotted list*/
    list-style-type: none;
    padding-right: 30px;
    display: flex;
    margin: 0;
    gap: 10px;
    justify-content: flex-end; 
     
}

/* hero content starts here*/

.hero {
    background: #1F2937;
    display: flex;
    align-items: flex-start;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 150px;
    /* justify-content: space-around; */
}

.hero-main {
    padding-top: 20px;
  color: #F9FAF8;
  font-weight:bolder;
  font-size: 48px;
    flex: 1;
    padding: 10px;

}
.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: normal;
    padding-right: 20px;
    
}


.image {
    /* max-width: 50px; */
   
    flex: 1;
}

img {
    width: 500px;
    max-width: 500px;
    max-height: 250px;
    flex-direction: row-reverse;
    flex: 0;
    
}

button {
    display: block;
    color: #ffffff;
    height: 40px;
    width: 120px;
    background-color: #3882f6;
    text-align: center;
    font-weight:500px;
    font-size: 50%;
    border-radius: 7px;
    text-decoration: none;
    line-height: 30px;
    margin-top: 20px;
    border: none;
    
}

/* information content starts here */

.information{
    display: flex;
    background-color: white;
    /* justify-content:space-evenly; */

}

.info-header {
        color: #1F2937;
        display: flex;
        font-size: 36px;
        font-weight: bolder;
        text-align: center;
        padding-top: 50px;
        align-self: center;
        margin: auto;
}


    /* max-width: auto;
    max-height: auto;
    text-align: center;
    align-items: center;
    padding-top: 30px;
    align-self: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    background-color: #e5e7eb;
    margin: auto;
    gap:10px; */

    /* text-align: center;
    background-color: #e5e7eb;
    padding-bottom: 30px;
     */

    

/* .img{
    flex: 0;
    width: 200px;
    height: 200px;
} */

.image-illustration {
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 150px;
    width: 150px;
    display: flex;
    margin: auto;
    /* flex-shrink:auto; */
  

}
.image-illustration img{
    height: 200px;
    width: 200px;
   
    border-radius: 35px;
    border: 5px solid #3882f6;
    

}

.image-illustration div{
    padding: 15px;
}

.image-illustration div,p{
    text-align: center;
    padding-bottom: 100px;
}




